div.footnote
	p <a href="https://discord.gg/fmRPHE5shu">Join us on Discord</a> | <a href="https://x.com/ync_corporation">Follow us on X</a> | <a href="https://www.youtube.com/@YNGCorporation">Follow us on Youtube</a>