doctype html
html
	head
		include head.pug
		title YNC - Home
	body
		include menu.pug
		div(class="content")
			h1 Hello World Wide Web !

			p We are the <i>Young New Corporation</i> (YNC), a collective of people just doing fun stuff and exploring things that are way out of our scope. We're here to learn, try, miss, attempt once again, try something else and then fail. This might sound bad but we're actually having a ton of fun and learning lots and lots of things along the way. Our range of projects is kind of odd, we don't like to focus on one thing and like to explore anything that we get curious about. You can find all of our (almost done) projects: <a href="/home/gallery">here</a>.

			div(class="team")

				h3 Contributors:
				ul
					each val, key in contributors
						li <b><a href="/home/about/!{key}">!{val.fullname}</a></b>: !{val.abstract}

			p This website is, first of all, for us (the YNC) but also for you ! If you wish to use our craftsmanship to build/learn/try something or if you simply want to hop on a project in the <a href="/home/gallery">gallery</a> that's cool enough for you, <b>do not hesitate to contact us</b>.

		include footnote.pug