html {
	font-family: "Atkinson Hyperlegible Mono", serif;
	font-optical-sizing: auto;
	font-weight: 14;
	font-style: normal;
}

div.content {
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
}

.team {
	text-align: left;
}

.footnote {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #d7cdc6;
}

.menu {
	background-color: #d7cdc6;
	display: flex;
	align-items: center;
}

.menu img {
	width: 10%;
}

.links {
	display: flex;
	justify-content: center;
	flex-grow: 1;
}

.links a {
	margin: 0 10px;
}